<div class="container">
  <h1 class="text-center my-2">BUDGETIN</h1>

  <!-- <form class="row g-3 mt-2">
    <div class="col-md-12">
      <label for="item-name" class="form-label">Item Name</label>
      <input
        [(ngModel)]="itemName"
        type="text"
        name="itemname"
        class="form-control"
        id="item-name"
      />
    </div>
    <div class="col-sm-6">
      <label for="price" class="form-label">Price</label>
      <input
        [(ngModel)]="price"
        type="number"
        name="price"
        class="form-control"
        id="price"
      />
    </div>
    <div class="col-sm-6">
      <label for="date" class="form-label">Date</label>
      <input
        [(ngModel)]="date"
        name="date"
        type="date"
        class="form-control"
        id="date"
      />
    </div>
    <div class="col-sm-6">
      <label for="type" class="form-label">Type</label>
      <select
        [(ngModel)]="budgetType"
        name="budgetType"
        id="type"
        class="form-select"
      >
        <option selected value="default">Choose...</option>
        <option value="income">Income</option>
        <option value="expense">Expense</option>
      </select>
    </div>
    <div class="col-12" *ngIf="!editing">
      <button (click)="addBudget()" class="btn btn-primary">submit</button>
    </div>
    <div class="col-12" *ngIf="editing">
      <button (click)="editBudget()" class="btn btn-primary me-2">
        update
      </button>
      <button (click)="cancelEditBudget()" class="btn btn-outline-primary">
        cancel
      </button>
    </div>
  </form> -->

  <app-budget-form
    [editing]="editing"
    [itemName]="itemName"
    [price]="price"
    [date]="date"
    [budgetType]="budgetType"
    (updateItemNameEvent)="updateItemName($event)"
    (updatePriceEvent)="updatePrice($event)"
    (updateDateEvent)="updateDate($event)"
    (updateBudgetTypeEvent)="updateBudgetType($event)"
    (addBudgetEvent)="addBudget()"
    (editBudgetEvent)="editBudget()"
    (cancelEditBudgetEvent)="cancelEditBudget()"
  >
  </app-budget-form>

  <section class="expense mt-4 p-2">
    <app-budget-sort
      [sortByDate]="sortByDate"
      (updateSortByDateEvent)="updateSortByDate($event)"
      (clearSortEvent)="clearSort()"
    ></app-budget-sort>
    <ul class="mt-4" *ngFor="let budget of budgetAll">
      <app-budget-list
        [budget]="budget"
        (startEditBudgetEvent)="startEditBudget($event)"
        (deleteBudgetEvent)="deleteBudget($event)"
      ></app-budget-list>
    </ul>
  </section>
</div>
